Q. 1 Square

In [1]:
def square(list):
  return [x*x for x in list if x%2==0]

In [2]:
square([1,2,3,4,5,6,7,8,9,10])

[4, 16, 36, 64, 100]

Q.2 Pattern

In [8]:
num = int(input())
print()
for i in range(num,0,-1):
  print(f"{i}"*i)

5

55555
4444
333
22
1

Q. 3 Duplicates

In [17]:
string_input = input()
output_str=""
for i in range(len(string_input)):
  check_char = string_input[i]
  if i==0:
    temp_str=string_input[i+1:]
  elif i==len(string_input):
    temp_str=string_input[:i]
  else:
    temp_str=string_input[:i]+string_input[i+1:]
  if check_char in temp_str:
    if check_char not in output_str:
      output_str+=check_char

print(output_str)

ABCADEFBDFRNMN
ABDFN

Q. 4 Unique Words

In [9]:

def unique_word(user_str):
  word_list = user_str.split()
  #print(word_list)
  output_list=[]
  count=0
  for word in word_list:
    if word not in output_list:
      output_list.append(word)

     
  print(output_list)

In [11]:
unique_word("Hi How are you your you hello are you doing well doing")

['Hi', 'How', 'are', 'you', 'your', 'hello', 'doing', 'well']

Q.5 Maximum and minimum values keys

In [22]:
def max_min(user_dict):
  temp_list = []
  out_list = [] 
  for key in user_dict:
    temp_list.append(key)
    temp_list.append(len(user_dict[key]))
  k=temp_list[1]
  for i in range(3,len(temp_list),2):
    if k<temp_list[i]:
      k=temp_list[i]
      j=i
  out_list.append(temp_list[j-1])
  k=1000000
  for i in range(3,len(temp_list),2):
    if k>temp_list[i]:
      k=temp_list[i]
      j=i
  out_list.append(temp_list[j-1])
  return out_list

In [25]:
max_min({100:'lmn',101:[1,2,3,3,4],102:"as",99:"",103:[1,2],105:'a'})

[101, 99]