## Q.1

In [57]:
n = int(input())
for i in range(n):
  print("5 "*(n-i))

7
5 5 5 5 5 5 5
5 5 5 5 5 5
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

In [58]:
# Not as expected
n = int(input())
for i in range(n):
  print("5--"*(n-i))

8
5--5--5--5--5--5--5--5--
5--5--5--5--5--5--5--
5--5--5--5--5--5--
5--5--5--5--5--
5--5--5--5--
5--5--5--
5--5--
5--

In [39]:
# Verified

n = int(input())
for i in range(n):
  print("5",end="")
  print("--5"*(n-i-1))

5
5--5--5--5--5
5--5--5--5
5--5--5
5--5
5

In [40]:
# Expected one

n = int(input())
for i in range(n):
  print("5",end="")
  print(" 5"*(n-i-1))

5
5 5 5 5 5
5 5 5 5
5 5 5
5 5
5

## Q.2

In [44]:
# Verified
n = int(input())
for i in range(n):
  print("0",end="")
  for j in range(n-i):
    print("--"+str(j+1),end="")
  print()

6
0--1--2--3--4--5--6
0--1--2--3--4--5
0--1--2--3--4
0--1--2--3
0--1--2
0--1

In [45]:
# Expected one

n = int(input())
for i in range(n):
  print("0",end="")
  for j in range(n-i):
    print(" "+str(j+1),end="")
  print()

6
0 1 2 3 4 5 6
0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

## Q.3

In [46]:
# Verified
n = int(input())
for i in range(n):
  if i==0:
    print(i+i+1)
  else:
    print(i+i+1,end="")
    freq = i+i+1
    print(f"--{freq}"*i)

5
1
3--3
5--5--5
7--7--7--7
9--9--9--9--9

In [47]:
# Expected one
n = int(input())
for i in range(n):
  if i==0:
    print(i+i+1)
  else:
    print(i+i+1,end="")
    freq = i+i+1
    print(f" {freq}"*i)

5
1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

## Q.4

In [48]:
# Verified

n = int(input())
for i in range(n):
  for j in range(i+1,0,-1):
    if j==i+1:
      print(j,end="")
    else:
      print("--"+str(j),end="")
  print()

5
1
2--1
3--2--1
4--3--2--1
5--4--3--2--1

In [49]:
# Expected one

n = int(input())
for i in range(n):
  for j in range(i+1,0,-1):
    if j==i+1:
      print(j,end="")
    else:
      print(" "+str(j),end="")
  print()

8
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1
6 5 4 3 2 1
7 6 5 4 3 2 1
8 7 6 5 4 3 2 1

## Q. 5

In [50]:
# With separator as -

n = int(input())
print("\n\n")
k=1
for i in range(1,n+1):
  print(k,end="")
  b=k
  for j in range(1,i):
    print("-"+str(b-1),end="")
    b-=1
  print()
  k+=i+1

7



1
3-2
6-5-4
10-9-8-7
15-14-13-12-11
21-20-19-18-17-16
28-27-26-25-24-23-22

In [51]:
# With separator as a space

n = int(input())
print("\n\n")
k=1
for i in range(1,n+1):
  print(k,end="")
  b=k
  for j in range(1,i):
    print(" "+str(b-1),end="")
    b-=1
  print()
  k+=i+1

8



1
3 2
6 5 4
10 9 8 7
15 14 13 12 11
21 20 19 18 17 16
28 27 26 25 24 23 22
36 35 34 33 32 31 30 29

## Q. 6

In [52]:
# With separator as -

n = int(input())
print("\n\n")
for i in range(1,n+1):
  k=1  
  for j in range(1,i+1):
    if j==1:
      print(k,end="")
    else:
      print("--"+str(k),end="")
    k=k*(i-j)//j
  print()

6



1
1--1
1--2--1
1--3--3--1
1--4--6--4--1
1--5--10--10--5--1

In [53]:
6# With separator as -

n = int(input())
print("\n\n")
for i in range(1,n+1):
  k=1  
  for j in range(1,i+1):
    if j==1:
      print(k,end="")
    else:
      print(" "+str(k),end="")
    k=k*(i-j)//j
  print()

5



1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

## Q. 7

In [54]:
# With separator as -

n = int(input())
print("\n\n")
for i in range(1,n+1):
  print(i,end="")
  print(f"-{i}"*(i-1),end="")
  for j in range(i+1,n+1):
    print("-"+str(j),end="")
  print()

5



1-2-3-4-5
2-2-3-4-5
3-3-3-4-5
4-4-4-4-5
5-5-5-5-5

In [55]:
# With separator as space

n = int(input())
print("\n\n")
for i in range(1,n+1):
  print(i,end="")
  print(f" {i}"*(i-1),end="")
  for j in range(i+1,n+1):
    print(" "+str(j),end="")
  print()

6



1 2 3 4 5 6
2 2 3 4 5 6
3 3 3 4 5 6
4 4 4 4 5 6
5 5 5 5 5 6
6 6 6 6 6 6

## Q.8

In [56]:
# With -- as separator

n = int(input())
for i in range(1,n+1):
  print(i,end="")
  for j in range(2,i+1):
      print("--"+str(i*j),end="")
  print()

6
1
2--4
3--6--9
4--8--12--16
5--10--15--20--25
6--12--18--24--30--36

In [22]:
# With a space as separator

n = int(input())
for i in range(1,n+1):
  print(i,end="")
  for j in range(2,i+1):
      print(" "+str(i*j),end="")
  print()

8
1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

## Q. 9

In [23]:
# With separator - 

n = int(input())
for i in range(1,n+1):
  print("-"*(i-1),end="")
  print("*",end="")
  print("-*"*(n-i),end="")
  print("-"*(i-1),end="")
  print()

6
*-*-*-*-*-*
-*-*-*-*-*-
--*-*-*-*--
---*-*-*---
----*-*----
-----*-----

In [24]:
# With separator space 

n = int(input())
for i in range(1,n+1):
  print(" "*(i-1),end="")
  print("*",end="")
  print(" *"*(n-i),end="")
  print(" "*(i-1),end="")
  print()

7
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

## Q.10

In [25]:
# With separator - 

n = int(input())
for i in range(1,n+1):
  print("-"*(n-i),end="")
  print("*",end="")
  print("-*"*(i-1),end="")
  print("-"*(n-i),end="")
  print()

8
-------*-------
------*-*------
-----*-*-*-----
----*-*-*-*----
---*-*-*-*-*---
--*-*-*-*-*-*--
-*-*-*-*-*-*-*-
*-*-*-*-*-*-*-*

In [27]:
# With separator space 

n = int(input())
for i in range(1,n+1):
  print(" "*(n-i),end="")
  print("*",end="")
  print(" *"*(i-1),end="")
  print(" "*(n-i),end="")
  print()

8
       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *
* * * * * * * *

## Q.11

In [28]:
# With separator - 

n = int(input())
for i in range(1,n+1):
  print("*",end="")
  print("-*"*(i-1))
else:
  b=2*n-1
  print("-"*b)
  for i in range(1,n+1):
    print("*",end="")
    print("-*"*(n-i))

8
*
*-*
*-*-*
*-*-*-*
*-*-*-*-*
*-*-*-*-*-*
*-*-*-*-*-*-*
*-*-*-*-*-*-*-*
---------------
*-*-*-*-*-*-*-*
*-*-*-*-*-*-*
*-*-*-*-*-*
*-*-*-*-*
*-*-*-*
*-*-*
*-*
*

In [29]:
# With separator space

n = int(input())
for i in range(1,n+1):
  print("*",end="")
  print(" *"*(i-1))
else:
  b=2*n-1
  print(" "*b)
  for i in range(1,n+1):
    print("*",end="")
    print(" *"*(n-i))

8
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

## Q.12

In [30]:
# With separator - 

n = int(input())
print(end="\n\n")
for i in range(1,n+1):
  print("*",end="")
  print("-*"*(i-1))
else:
  for i in range(1,n):
    print("*",end="")
    print("-*"*(n-i-1))

5


*
*-*
*-*-*
*-*-*-*
*-*-*-*-*
*-*-*-*
*-*-*
*-*
*

In [31]:
# With separator as space 

n = int(input())
print(end="\n\n")
for i in range(1,n+1):
  print("*",end="")
  print(" *"*(i-1))
else:
  for i in range(1,n):
    print("*",end="")
    print(" *"*(n-i-1))

6


*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

## Q.13

In [32]:
# With separator - 

n = int(input())
print(end="\n\n")
for i in range(1,n+1):
  print("-"*2*(n-i),end="")
  print("*",end="") 
  print("-*"*(i-1))

else:
  for i in range(1,n):
    print("-"*2*i,end="")
    print("*",end="")
    print("-*"*(n-i-1))

7


------------*
----------*-*
--------*-*-*
------*-*-*-*
----*-*-*-*-*
--*-*-*-*-*-*
*-*-*-*-*-*-*
--*-*-*-*-*-*
----*-*-*-*-*
------*-*-*-*
--------*-*-*
----------*-*
------------*

In [33]:
# With separator as space

n = int(input())
print(end="\n\n")
for i in range(1,n+1):
  print(" "*2*(n-i),end="")
  print("*",end="") 
  print(" *"*(i-1))

else:
  for i in range(1,n):
    print(" "*2*i,end="")
    print("*",end="")
    print(" *"*(n-i-1))

8


              *
            * *
          * * *
        * * * *
      * * * * *
    * * * * * *
  * * * * * * *
* * * * * * * *
  * * * * * * *
    * * * * * *
      * * * * *
        * * * *
          * * *
            * *
              *

## Q. 14

In [34]:
# With separator as -

n = int(input())
print("\n\n")
for i in range(1,n+1):
  print("-"*(i-1),end="")
  print("*",end="")
  print("-*"*(n-i),end="")
  print("-"*(i-1),end="")
  print()
else:
  for i in range(1,n+1):
    print("-"*(n-i),end="")
    print("*",end="")
    print("-*"*(i-1),end="")
    print("-"*(n-i),end="")
    print()

6



*-*-*-*-*-*
-*-*-*-*-*-
--*-*-*-*--
---*-*-*---
----*-*----
-----*-----
-----*-----
----*-*----
---*-*-*---
--*-*-*-*--
-*-*-*-*-*-
*-*-*-*-*-*

In [35]:
# With separator as space

n = int(input())
print("\n\n")
for i in range(1,n+1):
  print(" "*(i-1),end="")
  print("*",end="")
  print(" *"*(n-i),end="")
  print(" "*(i-1),end="")
  print()
else:
  for i in range(1,n+1):
    print(" "*(n-i),end="")
    print("*",end="")
    print(" *"*(i-1),end="")
    print(" "*(n-i),end="")
    print()

7



* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *
      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *

## Q. 15

In [36]:

n = int(input())
print("\n\n")
for i in range(0,n):
  print("*"*(n-i),end="")
  print("_"*(2*i),end="")
  print("*"*(n-i),end="")8
  print()

8



****************
*******__*******
******____******
*****______*****
****________****
***__________***
**____________**
*______________*